---
// src/pages/projects/index.astro
import ProjectCard from "../../../components/projects/ProjectCard.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { db, Projects, eq, desc } from "astro:db";

// --- METADATA DE LA PÁGINA DE PROYECTOS ---
const pageTitle = "Todos Mis Proyectos - Christopher Villamarín";
const pageDescription =
    "Explora todos los proyectos de desarrollo web, portafolio y código creados por Christopher Villamarín. Encuentra ejemplos de Next.js, React, Astro, Node.js y más.";
const pageKeywords = [
    "proyectos de desarrollo web",
    "portafolio web",
    "ejemplos de código",
    "Next.js proyectos",
    "React proyectos",
    "Astro proyectos",
    "Node.js proyectos",
    "desarrollador web",
    "Christopher Villamarín",
    "xeland314",
].join(", ");

const pageAuthor = "Christopher Villamarín";
const applicationName = "Portafolio de Christopher Villamarín";
const pageUrl = "https://xeland314.github.io/projects/";
const pageImage = "https://xeland314.github.io/images/social_share_default.png";
const pageImageAlt = "Ilustración de varios proyectos de desarrollo web";
const pageRobots = "index, follow";
const pageCanonical = pageUrl;

// Obtener todos los proyectos de la DB
const allProjects = await db
    .select()
    .from(Projects)
    .orderBy(desc(Projects.isFeatured), Projects.title);
---

<BaseLayout
    title={pageTitle}
    description={pageDescription}
    keywords={pageKeywords}
    author={pageAuthor}
    applicationName={applicationName}
    url={pageUrl}
    image={pageImage}
    imageAlt={pageImageAlt}
    robots={pageRobots}
    canonical={pageCanonical}
>
    <main
        class="py-8 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white min-h-screen"
    >
        <section class="max-w-[2700px] mx-auto px-6">
            <h1 class="text-5xl font-extrabold text-center mb-16 mt-6">
                Explora Todos Mis Proyectos
            </h1>
            {
                allProjects.length > 0 ? (
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-8">
                        {allProjects.map((project) => (
                            <ProjectCard project={project} />
                        ))}
                    </div>
                ) : (
                    <p class="text-center text-gray-500">
                        No se encontraron proyectos.
                    </p>
                )
            }
        </section>
    </main>
</BaseLayout>
