---
// src/pages/projects/index.astro
import ProjectCard from "../../../components/projects/ProjectCard.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { db, Projects, eq, desc } from "astro:db";

// --- PROJECTS PAGE METADATA ---
const pageTitle = "All My Projects - Christopher Villamarín";
const pageDescription =
    "Explore all web development projects, portfolio, and code created by Christopher Villamarín. Find examples of Next.js, React, Astro, Node.js, and more.";
const pageKeywords = [
    "web development projects",
    "web portfolio",
    "code examples",
    "Next.js projects",
    "React projects",
    "Astro projects",
    "Node.js projects",
    "web developer",
    "Christopher Villamarín",
    "xeland314",
].join(", ");

const pageAuthor = "Christopher Villamarín";
const applicationName = "Christopher Villamarín Portfolio";
const pageUrl = "https://xeland314.github.io/en/projects/";
const pageImage = "https://xeland314.github.io/images/social_share_default.png";
const pageImageAlt = "Illustration of various web development projects";
const pageRobots = "index, follow";
const pageCanonical = pageUrl;

// Get all projects from the DB for English language
const allProjects = await db
    .select()
    .from(Projects)
    .where(eq(Projects.lang, "en"))
    .orderBy(desc(Projects.isFeatured), Projects.title);
---

<BaseLayout
    title={pageTitle}
    description={pageDescription}
    keywords={pageKeywords}
    author={pageAuthor}
    applicationName={applicationName}
    url={pageUrl}
    image={pageImage}
    imageAlt={pageImageAlt}
    robots={pageRobots}
    canonical={pageCanonical}
    lang="en"
>
    <main
        class="py-8 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white min-h-screen"
    >
        <section class="max-w-[2700px] mx-auto px-6">
            <h1 class="text-5xl font-extrabold text-center mb-16 mt-6">
                Explore All My Projects
            </h1>
            {
                allProjects.length > 0 ? (
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-8">
                        {allProjects.map((project) => (
                            <ProjectCard project={project} lang={"en"}/>
                        ))}
                    </div>
                ) : (
                    <p class="text-center text-gray-500">
                        No projects found.
                    </p>
                )
            }
        </section>
    </main>
</BaseLayout>
