---
import CodeBlock from "../../../components/common/CodeBlock";
import ProjectLayout from "../../../layouts/ProjectLayout.astro";

// Metadata is defined in the frontmatter
const title =
  "🧮 Mathematical Expression Recognizer - Christopher Villamarín Projects";
const description =
  "Discover the Mathematical Expression Recognizer, a lexical analyzer designed to process and handle complex mathematical operations. It integrates C and Go to extend advanced functionalities.";
const keywords = [
  "Mathematical Expression Recognizer",
  "lexical analysis",
  "compilers",
  "mathematics",
  "numerical processing",
  "C",
  "Go",
  "Christopher Villamarín",
  "xeland314",
  "projects",
  "Ecuador",
].join(", ");
const ogImage =
  "https://raw.githubusercontent.com/xeland314/Analizador-lexico/refs/heads/main/imgs/Captura1.png";

const ogUrl =
  "https://xeland314.github.io/en/projects/lexical-analyzer/";
const author = "xeland314";
---

<ProjectLayout
  title={title}
  applicationName="Mathematical Expression Recognizer"
  description={description}
  keywords={keywords}
  author={author}
  url={ogUrl}
  image={ogImage}
  imageAlt="Mathematical Expression Recognizer"
  robots="index, follow"
  canonical={ogUrl}
  lang="en"
>
  <header class="text-center mb-8">
    <h1 class="text-4xl font-bold mb-4">
      🧮 Mathematical Expression Recognizer
    </h1>
    <p class="text-lg">
      A project focused on the development of a lexical analyzer to recognize,
      process, and handle complex mathematical operations. It integrates C and Go to extend advanced functionalities.
    </p>
  </header>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">📘 Introduction</h2>
    <p class="mb-4">
      The lexical analyzer represents the first stage of a compiler, responsible
      for identifying errors and processing data to advance to the next phases.
      This project develops a system that recognizes numerical systems and uses
      optimal regular expressions to meet its objectives.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">🎯 Objectives</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>Recognize numerical values from different number systems.</li>
      <li>Perform conversions between number systems.</li>
      <li>Distinguish arithmetic operators and opening/closing signs.</li>
      <li>Recognize mathematical functions.</li>
      <li>Implement grammars to solve basic and advanced operations.</li>
      <li>
        Save entered values for reuse, as in programming languages.
      </li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">🔍 Problem Description</h2>
    <p class="mb-4">
      The user can enter numbers belonging to different numerical systems. The
      program recognizes these systems, translates the numerical bases, and
      distinguishes arithmetic operators, grouping signs, and mathematical
      functions using regular expressions.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">📋 Number Systems</h2>
    <table class="table-auto border-collapse w-full text-center">
      <thead>
        <tr>
          <th class="border px-4 py-2">Number System</th>
          <th class="border px-4 py-2">Recognized Letter</th>
          <th class="border px-4 py-2">Valid Sequences</th>
          <th class="border px-4 py-2">Examples</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Binary</td>
          <td class="border px-4 py-2">b | B</td>
          <td class="border px-4 py-2">[0-1]</td>
          <td class="border px-4 py-2">b"1111"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Ternary</td>
          <td class="border px-4 py-2">t | T</td>
          <td class="border px-4 py-2">[0-2]</td>
          <td class="border px-4 py-2">T"12"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Quaternary</td>
          <td class="border px-4 py-2">c | C</td>
          <td class="border px-4 py-2">[0-3]</td>
          <td class="border px-4 py-2">c"22"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Quinary</td>
          <td class="border px-4 py-2">q | Q</td>
          <td class="border px-4 py-2">[0-4]</td>
          <td class="border px-4 py-2">-q"11"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Senary</td>
          <td class="border px-4 py-2">x | X</td>
          <td class="border px-4 py-2">[0-5]</td>
          <td class="border px-4 py-2">x"100"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Heptal</td>
          <td class="border px-4 py-2">s | S</td>
          <td class="border px-4 py-2">[0-6]</td>
          <td class="border px-4 py-2">s"21"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Octal</td>
          <td class="border px-4 py-2">o | O</td>
          <td class="border px-4 py-2">[0-7]</td>
          <td class="border px-4 py-2">o"7"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Nonary</td>
          <td class="border px-4 py-2">n | N</td>
          <td class="border px-4 py-2">[0-8]</td>
          <td class="border px-4 py-2">N"81"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Decimal</td>
          <td class="border px-4 py-2"> </td>
          <td class="border px-4 py-2">[0-9]</td>
          <td class="border px-4 py-2">100</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Hexadecimal</td>
          <td class="border px-4 py-2">h | H</td>
          <td class="border px-4 py-2">[0-9a-fA-F]</td>
          <td class="border px-4 py-2">H"F"</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Roman</td>
          <td class="border px-4 py-2">r | R</td>
          <td class="border px-4 py-2"> </td>
          <td class="border px-4 py-2">r"mmmCCXIV"</td>
        </tr>
      </tbody>
    </table>
    <p class="mt-4">
      Additionally, it recognizes decimal numbers in any number system, for
      example: <code>b"111.11"</code>.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">📐 Roman Numeral Extension</h2>
    <table class="table-auto border-collapse w-full text-center">
      <thead>
        <tr>
          <th class="border px-4 py-2">Letter</th>
          <th class="border px-4 py-2">Value</th>
          <th class="border px-4 py-2">Print</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">(n|N)</td>
          <td class="border px-4 py-2">5,000</td>
          <td class="border px-4 py-2">ṽ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(o|O)</td>
          <td class="border px-4 py-2">10,000</td>
          <td class="border px-4 py-2">Ẋ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(p|P)</td>
          <td class="border px-4 py-2">50,000</td>
          <td class="border px-4 py-2">Ḻ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(q|Q)</td>
          <td class="border px-4 py-2">100,000</td>
          <td class="border px-4 py-2">ĉ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(r|R)</td>
          <td class="border px-4 py-2">500,000</td>
          <td class="border px-4 py-2">ↁ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(s|S)</td>
          <td class="border px-4 py-2">1,000,000</td>
          <td class="border px-4 py-2">ṁ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(t|T)</td>
          <td class="border px-4 py-2">5,000,000</td>
          <td class="border px-4 py-2">Ṽ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(u|U)</td>
          <td class="border px-4 py-2">10,000,000</td>
          <td class="border px-4 py-2">Ẍ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(w|W)</td>
          <td class="border px-4 py-2">50,000,000</td>
          <td class="border px-4 py-2">Ḹ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">(y|Y)</td>
          <td class="border px-4 py-2">100,000,000</td>
          <td class="border px-4 py-2">ḉ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2"></td>
          <td class="border px-4 py-2">500,000,000</td>
          <td class="border px-4 py-2">ↇ</td>
        </tr>
        <tr>
          <td class="border px-4 py-2"></td>
          <td class="border px-4 py-2">1,000,000,000</td>
          <td class="border px-4 py-2">Ṁ</td>
        </tr>
      </tbody>
    </table>

    <p class="mt-4">
      Note: It only represents integer Roman numerals; the decimal part is
      omitted.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">📚 C & Go</h2>
    <p class="mb-4">
      To extend mathematical functions, the program uses Go to export
      definitions that do not exist in C, such as the cube root. This is
      achieved by compiling the <code>math_2.go</code> file into a static
      library.
    </p>
    <CodeBlock
      language="sh"
      code={`go build -buildmode=c-archive math_2.go`}
      client:visible
    />
    <p class="mt-4">
      This generates <code>math_2.h</code> and <code>math_2.a</code> files that are
      integrated into the C project during compilation.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">🔧 Program Execution</h2>
    <p class="mb-4">
      Compile and run the program using the following commands in the Ubuntu
      terminal:
    </p>
    <CodeBlock
      language="sh"
      code={`yacc -d -v proyecto.y\nlex reconocedor.l\ngcc y.tab.c funciones.c lex.yy.c gofuncs/math_2.a -pthread -lfl -lm -o math_app\n./math_app`}
      client:visible
    />
    <p class="mt-4">Or simply use <code>make</code> to automate the process.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-3xl font-semibold mb-4">📊 Execution Examples</h2>
    <p class="mb-4">
      To prepare operations, use input and output files:
    </p>
    <CodeBlock
      language="sh"
      code={`./math_app < entrada.txt > salida.txt`}
      client:visible
    />
    <div class="text-center mt-4">
      <img
        src="https://raw.githubusercontent.com/xeland314/Analizador-lexico/refs/heads/main/imgs/Captura1.png"
        alt="Input"
        class="rounded-lg shadow-md mx-auto mb-4"
      />
      <img
        src="https://raw.githubusercontent.com/xeland314/Analizador-lexico/refs/heads/main/imgs/Captura2.png"
        alt="Output"
        class="rounded-lg shadow-md mx-auto"
      />
    </div>
  </section>
</ProjectLayout>
