---
import CodeBlock from "../../../components/common/CodeBlock.tsx";
import ProjectLayout from "../../../layouts/ProjectLayout.astro";

// Metadata
const title = "📘 Objects in C - Christopher Villamarín Projects";
const description =
  "Explore how to implement object-oriented programming in C based on the book 'Object-oriented Programming with ANSI-C' by Axel-Tobias Schreiner. Learn about encapsulation, classes, and efficient memory management.";
const keywords = [
  "Objects in C",
  "object-oriented programming",
  "ANSI-C",
  "encapsulation",
  "classes in C",
  "C development",
  "Christopher Villamarín",
  "xeland314",
  "projects",
  "Ecuador",
].join(", ");
const authors = "Christopher Alexander Villamarín Pila";
const ogTitle = "📘 Objects in C - Christopher Villamarín Project";
const ogDescription =
  "Discover how to implement object-oriented programming in C with practical examples. Based on the book 'Object-oriented Programming with ANSI-C'.";
const ogUrl = "https://xeland314.io/en/projects/objects-in-c/";
const ogImage = "https://xeland314.github.io/images/objects_in_c_preview.png";
const imageAlt = "Preview of the Objects in C project";
const canonicalUrl = "https://xeland314.github.io/en/projects/objects-in-c/";
const robots = "index, follow";
---

<ProjectLayout
  title={title}
  description={description}
  keywords={keywords}
  author={authors}
  applicationName="Objects in C"
  url={ogUrl}
  image={ogImage}
  imageAlt={imageAlt}
  canonical={canonicalUrl}
  robots={robots}
  lang="en"
>
  <div class="p-0 sm:p-6">
    <header class="text-center mb-8">
      <h1 class="text-4xl font-bold mb-4">📘 Objects in C</h1>
      <p class="text-lg">
        Based on the book{" "}
        <a
          href="https://www.freetechbooks.com/object-oriented-programming-with-ansi-c-t551.html#:~:text=Object%2Doriented%20Programming%20with%20Ansi%2DC&text=Uses%20ANSI%2DC%20to%20discover,program%20to%20catch%20mistakes%20earlier."
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 hover:underline"
        >
          Object-oriented Programming with Ansi-C
        </a>{