---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Introduction from "../../components/sections/Introduction.astro";
import Hero from "../../components/sections/Hero.astro";
import ProjectsSection from "../../components/sections/ProjectsSection.astro";
import Certificates from "../../components/sections/Certificates.astro";
import Contact from "../../components/sections/Contact.astro";

// Metadata for the English version
const siteTitle = "Christopher Villamarín - Backend Developer in Quito, Ecuador";
const siteDescription = "Discover the portfolio of Christopher Villamarín, a backend developer specialized in creating scalable solutions for web, mobile, and desktop applications.";
const siteKeywords = "programmer, backend developer, Python, django, django rest framework, Quito, Ecuador, scalable systems, professional portfolio";
const siteAuthor = "Christopher Alexander Villamarín Pila";
const siteApplicationName = "Christopher Villamarín Portfolio";
const siteUrl = "https://xeland314.github.io/en/";
const siteImage = "https://xeland314.github.io/images/preview.png";
---

<BaseLayout
    title={siteTitle}
    description={siteDescription}
    keywords={siteKeywords}
    author={siteAuthor}
    applicationName={siteApplicationName}
    url={siteUrl}
    image={siteImage}
    canonical={siteUrl}
    lang="en"
>
    <main class="mx-auto py-0">
        <Hero lang="en" />
        <Introduction lang="en" />
        <ProjectsSection lang="en" />
        <Certificates lang="en" />
        <Contact lang="en" />
    </main>
</BaseLayout>
