---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/ProjectsSection.astro";
import Education from "../components/sections/EducationSection.astro";
import Certificates from "../components/sections/Certificates.astro";
import Contact from "../components/sections/Contact.astro";

// Datos para la metadata (los mismos que tenías en Next.js)
const siteTitle =
  "Christopher Villamarín - Backend Developer en Quito, Ecuador";
const siteDescription =
  "Descubre el portafolio de Christopher Villamarín, desarrollador backend especializado en crear soluciones escalables para aplicaciones web, móviles y de escritorio.";
const siteKeywords =
  "programador, desarrollador backend, Python, django, django rest framework, Quito, Ecuador, sistemas escalables, portafolio profesional";
const siteAuthor = "Christopher Alexander Villamarín Pila";
const siteApplicationName = "Christopher Villamarín Portfolio";
const siteUrl = "https://xeland314.github.io/";
const siteImage = "https://xeland314.github.io/images/preview.png";
---

<BaseLayout
  title={siteTitle}
  description={siteDescription}
  keywords={siteKeywords}
  author={siteAuthor}
  applicationName={siteApplicationName}
  url={siteUrl}
  image={siteImage}
  canonical={siteUrl}
>
  <main class="mx-auto py-0 dark:bg-gray-900">
    <Hero />
    <Projects />
    <div class="grid grid-cols-1 md:grid-cols-2">
      <Education />
      <Certificates />
    </div>
    <Contact />
  </main>
</BaseLayout>
